@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Work+Sans:wght@100;200;400;500;600;700&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

.sectionOne{
    margin-top: 30px;
    margin-bottom: 40px;
}

.sectionOne-content-text{
    font-size: var(--sub);
    font-family: var(--font-2);
}
.sectionOne-cards{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 30px;
    text-align: center;
    font-family: var(--font-2);
}
[class ^= sectionOne-cards-]{
    box-shadow: var(--shadow);
    display: grid;
    padding: 40px;
    border-radius: 6px;
    gap: 15px;
}
.tag{
    font-family: var(--font-2);
}
.price{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.amount{
    font-size: var(--h1);
    font-weight: 700;
}
.time{
    font-size: var(--body);
    color: var(--color-dark-75);
}
.info{
    font-family: var(--font-2);
    color: var(--color-dark-75);
}
.features{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 20px 0;
}
.dark-btn{
    justify-self: center;
}

/*
!Start Media quarry 
 */

 @media (max-width: 1024px){
    .sectionOne-cards{
        grid-template-columns: repeat(2 , 1fr);
    }
 }
 @media (max-width: 768px){
    .sectionOne-cards{
        grid-template-columns: repeat(1 , 0.75fr);
        justify-content: center;
    }
 }
 @media (max-width: 568px){
    .sectionOne-cards{
        grid-template-columns: repeat(1 , 1fr);
    }
 }